* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #C2B2B4;
}

/* PAGE SECTIONS */

nav {
  background-color: #3E2A35;
  display: grid;
  grid-template-areas: "logo . input";
  grid-template-columns: repeat(3, 1fr);
  height: 80px;
  padding: 10px;
}

main {
  background-color: #3E2A35;
  height: 400px;
  position: relative;
  width: 100%;
}

/* NAV && SEARCH BAR */

h1 {
  color: #fff;
  font-size: 36px;
  letter-spacing: 4px;
  grid-area: logo;
  margin: 15px auto;
}

#logo {
  margin: 0 10px;
  width: 50px;
}

.header-image {
  position: relative;
  top: 3px;
}

.input-search-container {
  margin: 15px auto;
  grid-area: input;
}

.input-search {
  border: 2px solid #C2B2B4;
  font-size: 24px;
  height: 43px;
  padding: 5px;
  width: 237px;
}

.input-search-btn {
  background-color: #C2B2B4;
  border-radius: 0 5px 5px 0;
  border: none;
  bottom: 4px;
  height: 43px;
  position: relative;
  width: 40px;
}

/* MAIN // INPUTS */

.main-input {
  background-color: #3E2A35;
  display: grid;
  grid-template-areas: 
  "titleInput titleInput"
  "title title"
  "captionInput captionInput"
  "caption caption"
  "btn btn"
  "fave album"
  "clear clear";
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 6% .2fr 6% .2fr .5fr .5fr .5fr;
  height: 400px;
  margin: auto;
  width: 600px;
}

.input-title {
  grid-area: title;
}

.input-caption {
  grid-area: caption;
}

#title-photo-label {
  grid-area: titleInput;
}

#caption-photo-label {
  grid-area: captionInput;
}

.input-caption,
.input-title {
  font-size: 22px;
  height: 42px;
  margin: 5px 0;
}

.input-label {
  color: #938284;
  font-size: 18px;
  margin-top: 4px;
}

.upload-file {
  height: 0.1px;
  opacity: 0;
  overflow: 0;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

/* BUTTON */

.btn-file,
button {
  background-color: #5B4447;
  border: none;
  color:#fff;
  font-size: 16px;
  height: 50px;
  cursor: pointer;
}

.btn-file:hover,
button:hover {
  background-color: #938284;
}

.btn-file {
  grid-area: btn;
  margin: 20px 0;
  text-align: center;
}

.btn-file p {
  margin-top: 2.5%;
}

.btn-fave {
  grid-area: fave;
  margin-right: 25px;
}

.btn-album {
  grid-area: album;
  margin-left: 25px;
}

.btn-album:disabled {
  background-color: #cdc6c7;
}

.btn-clear {
  background-color: indianred;
  grid-area: clear;
}

.btn-clear:hover {
  background-color: red;
}

/* PHOTO SECTION */

.photo-section {
  background-color: #C2B2B4;
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, 290px);
  grid-template-rows: auto;
  justify-content: center;
  padding: 0px 45px;
  padding: 20px;
}

.photo-card {
  background-color: #fff;
  border: 1px solid #938284;
  height: 400px;
  position: relative;
  min-width: 280px;
}

.photo-card:hover {
  box-shadow: 4px 4px 4px 4px #666;
}

.card-photo-title,
.card-photo-caption {
  color: #3E2A35;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 5px;
}

.card-photo-holder {
  height: 150px;
}

.gallery-img {
  margin-left: 2px;
  height: 200px;
  width: 99%;
}

.card-footer {
  background-color: #5B4447;
  bottom: 0;
  display: flex;
  height: 66px;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.card-btn {
  margin: 5px;
  width: 50px;
}

h2 {
  color: #3E2A35;
  font-weight: 800;
  text-align: center;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
  
  h1 {
    font-size: 34px;
  }
}

@media screen and (max-width: 950px) {

  nav {
    grid-template-areas: "logo input";
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 639px) {

  .main-input {
    width: 400px;
  }

  h1 {
    letter-spacing: 8px
  }

  nav {
    display: block;
    grid-gap: 20px 10px;
    height: 115px;
    padding: 10px;
    text-align: center;
  }

  .photo-section {
    grid-template-columns: repeat(auto-fit, 360px);
  }

  .input-search {
    width: 360px;
  }

  .input-search-btn {
    bottom: 3px;
  }

  .btn-album {
    margin-left: 10px;
  }

  .btn-fave {
    margin-right: 10px;
  }
}

@media screen and (max-width: 425px) {
  
  h1 {
    letter-spacing: 4px;
  }

  .input-search {
      width: 320px;
    }

  .main-input {
    width: 360px;
  }
}

@media screen and (max-width: 379px) {
   
   h1 {
    letter-spacing: 2px;
   }

   .main-input {
    width: 335px;
   }

   .input-search {
    width: 295px;
   }

   .photo-section {
    grid-template-columns: repeat(auto-fit, 335px);
  } 
}

@media screen and (max-width: 320px) {
  
  h1 {
    font-size: 32px;
  }

  .input-search {
    width: 255px;
  }

  .input-search-btn {
    bottom: 3px;
  }

  .main-input {
    width: 295px;
   }

  .photo-section {
    grid-template-columns: repeat(auto-fit, 295px);
  }
}

/*COLOR SCHEME

#3E2A35 DARK BACKGROUND
#C2B2B4 LIGHT BACKGROUND
#5B4447 BUTTON - STATIC
#938284 BUTTON - HOVER

CARD & TEXT COLORS
#3E2A35 TITLE & CAPTION
#938284 CARD BORDER
#5B4447 CARD FOOTER
*/